@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #2c3e50, #3498db);
    padding: 20px;
    flex-wrap: wrap;
    background-size: cover;
}

.forgot-container {
    background: white;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;


}

.form-box h2,
.form-box h3 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #f39c12;
   
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
   
}

button:hover {
    background-color: #2b5876;
}

.error-text {
    color: red;
    font-size: 14px;
    margin: 0;
    padding-left: 4px;
}

.success-text {
    color: green;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

.resetBtn {
    margin:10px;
    background-color: #f39c12;
    border-radius:8px;
    color:white;
    padding:8px;
    border-width: 0px;

}
.inp1{
    margin:5px;
}
.inp2{
    margin: 5px;
}